//main: ./styles.scss

#chat-container {
    background: #fff;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    @media (max-width: 767px) {
      height: auto;
      flex-direction: column;
      overflow: hidden;
    }
  }
  
  .chat-info {
     padding: 10px 15px 0;
      @media (min-width: 768px) {
          padding: 20px 0 20px 20px;
          width: 300px;
      }
  }
  
  #chat-header{
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1000;
      margin-bottom: 0.8rem;
      @media (min-width: 768px) {
          margin-bottom: 3rem;
      }
      .brand {
          margin: 0;
          color: var(--prime);
      }
       nav {
           display: flex;
           align-items: center;
           justify-content: flex-end;
  
           
          .nav-btn {
              border: none;
              background: none;
              outline: none;
              height: 2.2rem;
              width: 2.2rem;
              display: grid;
              place-content: center;
              font-size: 1.2rem;
              border-radius: 50%;
              color: #c2c2c2;
              cursor: pointer;
              &:hover{
                color: #7b7b7b;
              }
              &.active {
                  background: #f5f5f5;
                  color: var(--prime-lite);
              }
          }
  
       }
  }
  
  
  #active-clients {
      position: relative;
      width: 100%;
      overflow: hidden;
      @media (max-width: 767px) {
          display: flex;
          align-items: flex-start;
      }
  
      @media (min-width: 768px) {
          overflow-y: auto;
          max-height: calc(100% - 85px);
          &::before {
              content: 'Active Devices';
              font-size: 0.8rem;
              color: #bbb;
              display: block;
              margin-bottom: 0.5rem;
          }
        }
  }
  
  .avatar-list {
    display: flex;
    align-items: center;
    @media (min-width: 768px) { 
        & + & { margin: 0.75rem 0 }
     }
     @media (max-width: 767px) { 
      & + & { margin-left: 0.5rem;}
      }
    .avatar-name{
      margin-left: 10px;
      white-space: nowrap;
      color:#686565;
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 767px) { display: none; }
    }
  }
  
  .avatar{
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      font-size: 0.6rem;
      display: grid;
      place-items: center;
      background: var(--avatar-color);
      position: relative;
     
      &:after , &:before {
          font-family: 'fontello';
          color: #fff;
      }
      &:before {
          font-size: 1.2rem;
          text-shadow: 0 0 3px #0002;
      }
      &:after{
          position: absolute;
          width: 1rem;
          height: 1rem;
          display: grid;
          place-items: center;
          border-radius: 50%;
          bottom: 0;
          right: 0;
      }
      &[data-os="Windows"]{
         &:before {
              content: '\f109'; // laptop
          }
          &::after{
              content: '\f17a'; // windows
              background: #00A4EF;
              font-size: 0.5rem;
          }
      }
      &[data-os="Mac"]{
          &:before {
              content: '\f109'; // laptop
          }
          &::after{
              content: '\f179'; // ios
              background: #555555;
          }
      }
      &[data-os="Linux"]{
         &:before {
              content: '\f10b';
              font-size: 1.7rem;
          }
          &::after{
              content: '\f17c'; // Linux
              background: #dd4814 ;
          }
      }
      &[data-os="iOS"]{
         &:before {
              content: '\f10b'; // mobile
              font-size: 1.7rem;
          }
          &::after{
              content: '\f179'; // ios
              background: #555555;
          }
      }
      &[data-os="Android"]{
         &:before {
              content: '\f10b';
              font-size: 1.7rem;
          }
          &::after{
              content: '\f17b'; // Android
              background: #3DDC84;
          }
      }
  }
  
  
  .share-container {
      position: relative;
      .share-box {
          top: calc(100% + 5px);
          left: 0;
          position: absolute;
          width: 320px;
          background: #fff;
          padding: 15px;
          border-radius: 6px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          &:before , &:after {
              content: '';
              position: absolute;
              border: 8px solid #0000;
              border-bottom-color: #fff;
              z-index: 10;
              bottom: 100%;
              left: 10px;
              pointer-events: none
          }
          &:before{
            border-bottom-color: rgba(0, 0, 0, 0.05);
            filter: blur(2px);
            bottom: calc(100% + 2px);
            border-width: 10px;
            left: 8px;
          }
          p {
              font-size: 0.8rem;
              color: #333;
              margin:10px  0 ;
              line-height: 1.2;
              font-size: 0.75rem;
          }
          small {
              font-size: 0.7rem;
              color: #888484
          }
      }
  }
  
  #qr-code {
      width: 150px;
      height: 150px;
      background: #eee;
      margin: 5px auto 15px;
  }
  #room-link {
      height: 35px;
      width: 100%;
      background: #f5f5f5;
      padding: 0 7px;
      border-radius: 4px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
          white-space: nowrap;
          font-size: 10px;
          overflow: hidden;
          text-overflow: ellips;
          display: inline-block;
          width: calc(100% - 2rem);
          outline: none;
          border: none;
          background: none;
          line-height: 1rem;
          height: 1rem;
      }
  }
  
  #copy-link{
      width: 1.8rem;
      height: 1.8rem;
      border: none;
      outline: none;
      background: #0000;
      position: relative;
      display: grid;
      border-radius: 50%;
      place-content: center;
      &:active {
          background: #0001;
          .icon-copy{
              background: #444;
          }
      }
  }
  
  .icon-copy{
      position: relative;
      display: inline-block;
      border: 1px solid #444;
      height: 0.9rem;
      width: 0.7rem;
      background: none;
      border-radius: 2px;
      cursor: pointer;
      &::after{
          content: '';
          position: absolute;
          border-right: 1px solid #444;
          border-bottom: 1px solid #444;
          height: 0.9rem;
          width: 0.75rem;
          border-radius: 0 0 2px 0;
          top: 1px;
          left: 0px;
      }
  
  }
  
  #room-no {
      text-align: center;
      font-weight: bold;
      color: #444444;
      margin: 10px 0;
  }
  
  
  
  
  .chat-room {
    width: 100%;
    padding: 20px;
    @media(max-width: 767px) {
        height: calc(100vh - 90px);
        padding: 15px;
    }
    &-container{
      background: #f2f6fc;
      height: 100%;
      border-radius: 10px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px inset;
    }
  }
  
  #chat-area {
      display: flex;
      flex-direction: column;
      padding: 15px;
      position: relative;
      height: 100%;
      overflow-y: auto;
  }
  
  .chat-bubble {
        width: 70%;
        display: inline-flex;
        padding: 15px 0;
        justify-self: start;
        position: relative;
      
      .chat-text {
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
          padding: 6px 10px;
          min-width: 40px;
          background: #fff;
          margin: 0 7px;
          font-size: 0.9rem;
          line-height: 1;
          white-space: pre-wrap;
          word-break: break-word;
          position: relative;
          &::before{
              content: '';
              border: 6px solid transparent;
              position: absolute;
              top: 5px;
              right: 100%;
              border-right-color: #fff;
          }
       }
       .avatar{
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
       }
        .chat-date {
            position: absolute;
            font-size: 8px;
            top: calc(100% - 13px);
            color: #bfc3c9;
            white-space: nowrap;
            left: 40px;
        }
      &.me {
          align-self: flex-end;
          flex-direction: row-reverse;
            .chat-date {
                left: auto;
                right: 0;
            }
          .chat-text {
              background: var(--prime-lite);
              color: #fff;
              &::before{
                  right: auto;
                  left: 100%;
                  border-right-color: transparent;
                  border-left-color: var(--prime-lite);
              }
          }
      }
  }
  
  .chat-form {
      position: relative;
      padding: 5px 10px;
      background: #fff;
      display: flex;
      border-radius: 8px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  
  .attach-files{
      position: relative;
      height: 30px;
      width: 30px;
      display: inline-grid;
      place-content: center;
      #chat-file-upload{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          z-index: 10;
          opacity: 0;
      }
      .icon-attach {
          color: #9a9a9a;
          font-size: 1.2rem;
          &:hover{
              color: #444;
          }
      }
  }
  
  
  
  #chat-control {
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
      resize: none;
      background: none;
      font-size: 1rem;
      line-height: 1.2;
      height: 26px;
      max-height: 65px;
      padding-left: 5px;
      margin-top: 3px;
      border-radius: 4px;
      box-shadow:none;
      transition: 0.2s ease-in;
      &::placeholder {
        color: #ccc;
        font-size: 0.9rem;
      }
  }
  
  #btn-send {
      width: 30px;
      height: 30px;
      border: none;
      outline: none;
      background: none;
      color: var(--prime-lite);
      text-shadow: 2px 2px 3px #0002;
      font-size: 1.2rem;
      display: grid;
      place-content: center;
      cursor: pointer;
  }